<h1 class ="display-4">Welcome to the Hobinnator</h1>
<p class="mb4">Add Your Hobbies Here!!</p>
<a href="/members/enter" class="btn btn-light">Login </a>
<a href="/members/signup" class="btn btn-light">Sign Up</a>